@charset "UTF-8";
html, body {
    height: 100%;
    background: black;
    overflow: hidden;
}
.container {
    width: 1920px;
    height: 980px;
    position: relative;
}
@media screen and (min-width: 1921px) {
    .container {
        top: 50%;
        left: 50%;
        margin-top: -490px;
        margin-left: -960px;
    }
}
.section {
    width: 1920px;
    height: 980px;
}
.section:nth-child(1) { background: red; }
.section:nth-child(2) { background: blue; }
.section:nth-child(3) { background: green; }
.section:nth-child(4) { background: violet; }

.move_btn {
    width: 50px;
    height: 50px;
    background: black;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
}

.new_partialscroll {
    overflow: scroll;
}