@charset "UTF-8";
html, body {
    height: 100%;
    background: black;
    overflow: hidden;
}
.container {
    width: 1920px;
    height: 980px;
    position: relative;
}
@media screen and (min-width: 1921px) {
    .container {
        top: 50%;
        left: 50%;
        margin-top: -490px;
        margin-left: -960px;
    }
}
.section {
    width: 1920px;
    height: 980px;
    font-size: 200px;
    text-align: center;
    line-height: 980px;
    color: white;
}
.section:nth-child(1) { background: red; }
.section:nth-child(2) { background: blue; }
.section:nth-child(3) { background: green; }
.section:nth-child(4) { background: violet; }
.section.footer {
    height: 300px;
    background: red;
}

.btn {
    position: fixed;
    top: 10px;
    left: 0;
}
.btn li {
    width: 120px;
    height: 20px;
    margin: 10px;
    background: black;
    border: 1px solid white;
    color: white;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    cursor: pointer;
}
.btn li.move_to {

}
.btn li.move_to input {
    width: 70px;
    height: 20px;
    padding: 1px 8px;
    box-sizing: border-box;
    float: left;
}
.btn li.move_to button {
    width: 50px;
    height: 20px;
    float: left;
    font-size: 12px;
}